SUBSYSTEM=="serio", KERNEL=="serio2", DRIVER=="psmouse", WAIT_FOR=="press_to_select", ATTR{speed}="200", ATTR{sensitivity}="255", ATTR{resolution}="255", ATTR{rate}="255"
